$hashbump-color-gold: #e4be45;
$hashbump-color-green: #2f9b4c;
$hashbump-color-purple: #8845ad;


html, body {
  font-family: 'Fira Sans', sans-serif;
  color: $hashbump-color-green;
  background-color: $hashbump-color-gold;
}

h1 {
  color: $hashbump-color-green;
  background-color: $hashbump-color-gold;
}

input {
  color: $hashbump-color-green;
  background-color: $hashbump-color-gold;
  font-size: 200%;
}

.hashbump {
  background-color: $hashbump-color-gold;
}

.bumpButton {
  border: none;
  background-color: $hashbump-color-gold;
}
  
.autocompleteRenderHighlightedItem {
//  background: $hashbump-color-purple;
  background: lightgray;
}

.autocompleteRenderItem {
  background: $hashbump-color-gold;
}

.hashtag {
  display: inline-block;
}
.hashtag::before {
  font-size: 200%;
  content: "#";
}

.buttonAndAutocompleteContainer {
  margin: auto;
  width: 50%;
}

.nameSpan {
  margin-top: 5vh;
  margin-right: 3vw;
  font-size: 300%;
  float: right;
}
  
.nameSpanHash {
color: $hashbump-color-green;
}

.nameSpanBump {
color: $hashbump-color-purple;
}

